.vscode/
aoutputs/
_downloaded/
__pycache__/
build/
*.egg-info/
*.so
*.mp4
*.npy
*.wav
tmp*
trial*/
*.txt
*.log
*.yaml
data/*
!data/.gitkeep
data_utils/face_tracking/3DMM/*
data_utils/face_parsing/79999_iter.pth
logs
pretrained
*.jpg